.footer {
       margin-top: 200px;
       margin-bottom: 150px;
    padding: 0px, 30px, 100px, 30px;
    font-size: 18px;
    font-weight: 500;
    color: #6b7076;
}

.footer div{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;

}

.footerDirection{
width: 500px;
display: flex;
flex-direction: column;
line-height: 30px;
}


/*necesito més bottom/top marge entre div i div + alinear el text a l'esquerre*/
.footerLinks {
color: #072AC8;
display: grid;
grid-template-columns: 150px 150px 150px;
list-style: none;

}


