.footer {
       margin-top: 200px;
       margin-bottom: 150px;
    padding: 0px, 30px, 100px, 30px;
    font-size: 18px;
    font-weight: 500;
    text
    color: #6b7076;
}

.footer div{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;

}

/*necesito donar-li més interline entre una linea y altre + més bottom marge entre logo + p */
.footerDirection{
width: 500px;
display: flex;
flex-direction: column;
}


/*necesito més bottom/top marge entre div i div + alineae rl text a la esquerre*/
.footerLinks {
display: flex;
flex-direction: column;
color: #072AC8;
}



/*<footer>
    <div>
        <div>
            <img src="../project-assets/logos/circle.svg" alt="logoCircle" id="logoCircle">
            <p>2972 Westheimer Rd. Santa Ana,  </p>
            <p>Illinois 85486</p>
        </div>
        <div>
            <div>
                <ul>Team</ul>
                <ul>Press</ul>
            </div>
            <div>
                <ul>Services</ul>
                <ul>Projects</ul>
            </div>
            <div>
                <ul>About Us</ul>
                <ul>Privacy Policy</ul>
            </div>
        </div>
    </div>
</footer>*/