
@import "./navbar.css";
@import "./ProjectSeccion.css";
@import "./testimonialSection.css";
@import "./CTASection.css";
@import "./footer.css";

/*revisar pq no s'està important correctament la familia*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
margin: 0px;
padding: 0px;
background-color:#f2f4fc ;
color: #292e47;
line-height: 20px;
}



h1{
    font: 60px;
    font-weight: bold;
    color:#292e47
}


h2{
    font: 50px;
    font-weight: bold;
    color: #292e47;
}

h3{
    font: 40px;
    font-weight: bold;
    color: #292e47;
}

p{
    font: 17px;
}