
@import "./navbar.css";
@import "./ProjectSeccion.css";
@import "./CTASection.css";
@import "./footer.css";
@import "./testimonialSection.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
margin: 0px;
padding: 0px;
background-color:#f2f4fc ;
color: #292e47;


}