.mainProject{
    margin-top: 70px;
  padding: 0px 150px 0px 150px;
}


.mainProjectTitle{
    color: #292e47;
    font-size: 60px;

}

.mainProjectSubtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainProjectTypology{
color: #6B708D;
font-size: 24px;
}

.completionDate{
    color: #292e47;
    font-size: 20px;
}

.mainProjectImg img{ /*le estaba dando tamaño al div no a la imagen*/
width: 100%;
height: 444px;
    object-fit: cover;
margin-top: 80px;
}

.projectDescription{
    color: #292e47;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

.projectDescription p{
    margin-bottom: 10px;
}