.mainHero{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.heroMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.heroText{
    width: 45%;

}

.heroCard{
    position: relative;
    width: 45%;

}

.card1, .card2 {
    position: absolute;
    width: 400px;
}

/* tocar posició de cartes */
.card1{
    top: 0;
    left: 0;
}


.card2{
    bottom: -200px;
    right: 0;
}

.heroImage{
    width: 100%;
}


.heroText p{
   
    
}

/* retocar boton  */
.btnSeeOurWork {
    background-color: #072AC8;
    border-color: #072AC8;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 50px;
    width: 160px;
    line-height: 1.15;
    margin: 12px 0 0;
    padding: 0 25px;
    text-align: center;
}


