.mainHero{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.heroMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.heroText{
    width: 45%;
}

.heroText h1{
    color: #292e47;
font-size: 70px;
font-weight:bolder;
margin: 20px 0px 30px;
}

.heroText p{
    color: #6b708d;
font-size: 20px;
margin-bottom: 40px;
}

.heroCard{
    position: relative;
    width: 45%;

}

.card1, .card2 {
    position: absolute;
    width: 400px;
}

/* tocar posició de cartes */
.card1{
    top: 0;
    left: -200px;
}


.card2{
    bottom: -200px;
    right: 0;
}

.heroImage{
    width: 100%;
}

.btnSeeOurWork {
    background-color: #f2f4fc;
    color: #6b708d;
    border: none;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    height: 50px;
    width: 160px;
    line-height: 1.15;
    margin: 12px 0 0;
    padding: 0 25px;
    text-align: center;
}

 /*responsive tablet*/

 @media (max-width:768px){
.mainHero{
    margin-top: 10%;
    padding-left: 5%;
   justify-content: none;
   flex-direction: column;
}
.heroMain{
    display: flex;
 align-items:column ;  
  width: 50%;

}
/* .heroText */



.card1, .card2{
    display: none;
}

.mainHeroBtn{
    display: flex;
   flex-direction: row;}

/*responsive mobile*/

@media (max-width:320px){
    /* metes las clases que quieras modificar o ID, esto solo tendra efecto cuando el width sea menor al marcado */
 }


