.mainContact{
    margin-top: 200px; 
   padding: 0px 200px 0px 200px;
}

.contactUs{
 display: flex;
 flex-direction: column; 
}

/* .contactUsForm {
    display: flex;
    flex-direction: row;
    width: 100%;
} */

.legendForm{
    color:#6b708d;
    margin-bottom: 10px;
    font-size: 20px;
}

.formContact {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}


.formEmail{
    flex: 1;

}

.formPhone{
    flex: 1;
    width: 100%;

}

/* .formMsg

.btnSubmit 

.formName */


#ctrName, #ctrEmail, #ctrPhone, #ctrMsg {
background-color: #e4e6f0;
border: none;
height: 70px;
padding: 8px 12px 8px 12px;
margin: 10px;
/* margin-bottom: 10px; */
text-align: left;
font-size: 18px;
color: #6b708d;
width: calc(100% - 48px);
}

#ctrMsg{
    height: auto;
}

#ctrMsg::placeholder{
    font-family: 'Roboto', sans-serif;
}
/* #ctrEmail, #ctrPhone{

}

#ctrName, #ctrMsg{
    width: 100%;
} */

.btnSubmit{
    background-color: #072AC8;
    border-color: #072AC8;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 70px;
    width: calc(100% - 12px);
    line-height: 1.15;
    padding: 8px 12px 8px 12px;
    text-align: center;
 

}