.projectSeccion{
    margin-top: 200px;
    padding: 0px 30px 0px 30px;

}

h2{
    margin: 20px 0px 10px 0px;
    font-size: 40px;
}

.projectList {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between

}

.cardProject {
    background-color: #fff;
    width:300px ;
    margin: auto;
    padding-bottom: 30px;
}


.projectImage{
    object-fit:cover;
    height: 240px;
    width: 100%; 
   
}

.projectTitle {
    margin: 30px 30px 20px 30px;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
}

.projectTypology {
    margin: 0px 30px 10px 30px;
    color: #292e47;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
}

.projectLink{
    margin: 30px;
    color: #072AC8;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0px 30px 0px;
}
