.testimonialSection{
position: relative;
height: 622px; 
margin-top: 200px;
margin-left: auto;
margin-right: auto;
background-color: #292e47;
background-image: url("../project-assets/testimonial-section/orbit.png");
background-repeat: none;
background-position: center;
background-size: cover;
padding: 0px 30px 0px 30px;
}

.clientTestimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.clientTestimony h3{
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 10px 0px;
    line-height: 30px;

}

.testimony{
    margin-left: auto;
    margin-right: auto;
    color: #ffc600;
    font-size: 24px;
    text-align: center;
    line-height: 160%;

}

.client{
    display: flex;
    flex-direction: row;

}
#photoFrame {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
  display: flex;
  justify-content: center;
    
}

#clientPhoto{
    width: auto;
    height: 75px;
    
}

.clientInformation{
    margin-left: 10px;
}

.clientName{
    color: #a2d6f9;
    font-size: 20px;
    margin-bottom: 0px;
}

.clientCompany{
    color: #ecf7ff;
    font-size: 15px;
    margin-top: 0px;
}

#orbit{
    width: 200px;
}

#memoji1{
    position: absolute;
    width: 175px;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 5%;
    margin-left: 10%;
}

#memoji2 {
    position: absolute;
    width: 175px;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 5%;
    margin-right: 10%;
}

#memoji3{
    position: absolute;
    width: 175px;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
}

#memoji4 {
    position: absolute;
    width: 175px;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: 10%;
    margin-bottom: 5%;
}